<div fxLayout fxLayoutAlign="center">
    <mat-form-field  class="filter-bar" appearance="fill">
      <mat-label>Filter</mat-label>
      <input type="search" matInput [(ngModel)]="filter" placeholder="Search...">
    </mat-form-field>
</div>

<div fxLayout fxLayoutAlign="center" >
  <div class="active-repositories" fxLayout="column" fxLayoutAlign="center center" *ngIf="repos$">
    <div class="repo" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="30px"
         *ngFor="let repo of repos$ | async | repoFilter: filter | sortByUpdatedAt">
      <div class="repo__header">
        <h3 class="label"><a href="{{ repo.owner.url }}">{{ repo.owner.name }}</a></h3>
        <p><a href="{{ repo.repo.url }}">{{ repo.repo.name }}</a></p>
      </div>
      <div class="repo__default">
        <h3 class="label">Branch</h3>
        <p><a href="{{ repo.headBranch.url }}">{{ repo.headBranch.name }}</a></p>
      </div>
      <div class="repo__last">
        <h3 class="label">Last build</h3>
        <p fxLayout fxLayoutAlign="flex-start center">
          <mat-icon [ngStyle]="{color: repo.statusColor}">{{ repo.status_icon }}</mat-icon>
          <a [ngStyle]="{color: repo.statusColor} "
             href="{{ repo.run.url }}">#{{ repo.run.number + " " + repo.status }}</a></p>
      </div>
      <div class="repo__commit">
        <h3 class="label">Commit</h3>
        <p><a href="{{ repo.commit.url }}">{{ repo.commit.id | slice: 0: 7 }}</a></p>
      </div>
      <div class="repo__finished">
        <h3 class="label">Finished</h3>
        <p *ngIf="repo.statusColor === 'goldenrod'; else elseBlock">in progress</p>
        <ng-template #elseBlock><p>{{ repo.updatedAt | date: 'dd/MM/yy hh:mm' }}</p></ng-template>
      </div>
    </div>
  </div>
</div>
